.card {
  width: 413px;
}

.card__image {
  width: 413px;
  height: 445px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/like\ icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  margin: 12px 0 0;
}

.card__like-btn:hover {
  color: #212121;
  cursor: pointer;
  opacity: 1;
}

.card__title {
  margin: 0;
  padding: 12px 0 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    max-width: 288px;
  }

  .card__content {
    max-width: 288px;
  }
}
